<nav class="navbar">
    <div class="navbar-inner">
        <a href="/posts" class="navbar-brand">
            <span>✦</span> Postify
        </a>
        <a href="/posts/new" class="btn btn-primary btn-sm">+ New Post</a>
    </div>
</nav>