<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/new.css">

    <title>Create new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input id="text" type="text" placeholder="Enter Username" name="username"><br><br>
        <textarea name="content" placeholder="Enter yor post "></textarea><br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>